.aboutUs{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    button{
        padding: 5px 10px;
        color: white;
        background: linear-gradient(to right, #B0852C, #D8C05B);
        border: none;
        cursor: pointer;
    }
    h1{
        display: flex;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
    }
}